{% extends "base.html" %}

{% block title %} Graphite - Login {% endblock %}

{% block nav %}
    <a href="/login" class="active"> Login </a>
    <a href="/signup"> Sign up </a>
{% endblock %}

{% block body %}
    <div class="centre form-box">
        <form method="post">
            <h3>Login:</h3>
            {% if error_message %}
                <p class="error"> {{ error_message }} </p>
            {% endif %}
            <input type="text" name="username" placeholder="Username"/><br>
            <input type="password" name="password" placeholder="Password"/><br>
            <input type="submit" value="Login"/>
        </form>
    </div>
{% endblock%}