{% extends "base.html" %}

{% block title %} Graphite - Sign up {% endblock %}

{% block nav %}
    <a href="/login"> Login </a>
    <a href="/signup" class="active"> Sign up </a>
{% endblock %}

{% block body %}
    <div class="centre form-box">
        <form method="post">
            <h3>Sign up:</h3>
            {% if error_message %}
                <p class="error"> {{ error_message }} </p>
            {% endif %}
            <input type="text" name="username" placeholder="Username"/><br>
            <input type="password" name="password" placeholder="Password"/><br>
            <input type="password" name="password-again"
                   placeholder="Repeat Password"/><br>
            <input type="submit" value="Sign up"/>
        </form>
    </div>
{% endblock%}